<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FF2.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2017.2.614.45" newVersion="2017.2.614.45"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FF2.MySettings>
      <setting name="IsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RecentFiles" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnglishUnits" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="CalculateHmaCdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutomaticFlexibleBaseDesign" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Outfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThickPccOverlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ACROptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CdfTolerance" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="LifeTolerance" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="AlternateSubgrade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Nsection" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="AllowPartiallyBonded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PCAConversionFormula" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_brushes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UDADirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="ReducedCrossSection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SlabStress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NCHRPFormula" serializeAs="String">
        <value>False</value>
      </setting>
    </FF2.MySettings>
  </userSettings>
</configuration>
